* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    

}

body {
    font-family: 'SourceSansPro-Regular';
  
}

h1 {
    font-size: $header1;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
}

li {
    font-size: $text;
}

p {
    font-size: $main-text;
}

h4,
h5 {
    font-size: $header4;
}

ul {
    list-style: none;
}

span,
a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../assets/fonts/source_sans_pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: 'SourceSansPro-Semi_Bold';
    src: url(../assets/fonts/source_sans_pro/SourceSansPro-SemiBold.ttf);
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url(../assets/fonts/source_sans_pro/SourceSansPro-Bold.ttf);
}