.burger {
    &:hover {
        cursor: pointer;
    }
}

.responsive-head {
    animation: navbar-pop 0.4s ease-in-out;
}

.rosponsive-nav {
    font-size: calc(3rem - 1vw);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons {
    @include flex(space-around, center, row);
    width: 100%;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid rgba(white, 0.5);
    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.user {
    @include flex(center, center, column);
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(white, 0.5);
    li {
        border-top: 1px solid rgba(white, 0.3);
        background-color: rgba($color: #000000, $alpha: 0.5);
        margin: 1rem 0 1rem 0;
        padding: 2rem;
        width: 80%;
        border-radius: 1rem;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
        a {
            display: inline-block;
            width: 100%;
        }
    }
}

.info {
    width: 100%;
    @include flex(center, center, column);
    li {
        width: 100%;
        border-bottom: 1px solid rgba(black, 0.5);
        padding: 2rem 0 2rem 2rem;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
        a {
            display: inline-block;
            width: 100%;
        }
    }
}

@keyframes navbar-pop {
    from {
        transform: translateX(95%);
    }
    to {
        transform: translateX(0%);
    }
}